.select {
  position: relative;
}

.select .option-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
}

.select.active .option-list {
  max-height: none;
}