<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="cj">
	
	<select id="wrong_data_search" resultType="com.cj_wrong_data_searching.vo.WrongDataVO">
		select 
			category, sku_title, title_txt, opt_txt, unit_count, group_count, unit_price, market_pid, addr
		from
				(select 
					category, sku_title, title_txt, opt_txt, unit_count, group_count, unit_price, market_pid, addr
				from
					cj_0905_0906_m
				where
					sku_title = #{sku_title}
				having
					concat(title_txt ,"  ||  ", opt_txt) not like (select pattern from cj_sku_keyword_pattern where sku_title=#{sku_title})) a
		where
			sku_title = #{sku_title}
		having
			concat(a.title_txt, " || ", a.opt_txt) not like (select pattern_b from cj_sku_keyword_pattern where sku_title = #{sku_title})
		order by
			title_txt asc; 
	</select>
	
</mapper>	
